# IDE specific files
## VS Code
.vscode/

## IntelliJ
.idea/
*.iml
*.ipr
*.iws

## Eclipse
.settings/
.classpath
.project
.metadata/
bin/
*.launch

# Gradle
.gradle/
build/

# NeoForge UserDev & Build outputs
run/
runs/
run-data/
out/
repo/

# Logs & Caches
*.log
**/.cache/**/*.*

# Other
GEMINI.md
node_modules/